{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<form method="POST">
    <br/><br/>
    <center>
        <img class="img-fluid" src="static/images/create_post.png" alt="Post your Blast">
    </center>
    {{ form.hidden_tag() }}
    <br/><br/>
    <div class="row">
        <div class="col">
            {{ form.business.label(class="form-label") }}
            {{ form.business(class="form-control") }}
        </div>
        <div class="col">
            {{ form.zip_code.label(class="form-label") }}
            {{ form.zip_code(class="form-control") }}
        </div>
    </div>
        <br/>
    {{ form.text.label(class="form-label") }}
    {{ form.text(class="form-control") }}
    <br/><br/>
    <center>
        <a href="/home"><button type="button" class="btn btn-md btn-secondary">Back</button></a>
        {{ form.submit(class="btn btn-danger") }}
    </center>
</form>


{% endblock %}